<!DOCTYPE html>
<html lang="es">

<head>
	<title>Usuarios</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<style type="text/css">
		td,th{
			text-align: center;
		}
		#texto_total{
			text-align: right;
			font-weight: bold;
		}
		.item{
			text-align: left;
		}
	</style>
</head>

<body>

	<div class="container">
		<h2>USUARIOS</h2>

		<table>
			<tr>
				<td> Id </td>
				<td> <input type="text" id="id"> </td>
			</tr>
			<tr>
				<td> Usuario </td>
				<td> <input type="text" id="usuario"> </td>
			</tr>
			<tr>
				<td> Password </td>
				<td> <input type="text" id="password"> </td>
			</tr>
			<tr>
				<td> Perfil </td>
				<td><select id="perfil">
					{% for perfil in perfiles%}
						<option value='{{perfil["id"]}}'> {{perfil["nombre"]}} </option>
					{% endfor %}
				</select></td>
			</tr>
		</table>
		<br><br><br>
		<input type="button" id="agregar" value="Agregar">
		<input type="button" id="modificar" value="Modificar">
		<input type="button" id="eliminar" value="Eliminar">
		<br><br><br>
		<div id="dvdetalle">
		<table>
			<tr><td> ID </td><td> Usuario </td><td> Password </td></tr>
			{% for usuario in usuarios%}
				<tr>
					<td> {{usuario["id"]}} </td>
					<td> {{usuario["usuario"]}} </td>
					<td> {{usuario["pass"]}} </td></tr>
			{% endfor%}
		</table>
		</div>
	</div>
</body>	
</html>

<script>
$("#agregar").click(function(){
    $.post( "/actusuario",
                { 	codigo: $("#id").val(),
                	usuario: $("#usuario").val(),
                	pass: $("#password").val(),
                	perfil: $("#perfil").val(),
                	operacion: "grabar"
                },
        function(data,status){
          if (status=="success"){ 
            $("#dvdetalle").html(data);
          } else { 
            mensaje("problema al actualizar el registro!");
          }   
        });
  });

$("#modificar").click(function(){
	$.post(	"/actusuario", 
			{	codigo: $("#id").val(),
                usuario: $("#usuario").val(),
                pass: $("#password").val(),
                perfil: $("#perfil").val(),
                operacion: "modificar"
			},
			function(data,status){
	          if (status=="success"){ 
	            $("#dvdetalle").html(data);
	          } else { 
	            mensaje("problema al actualizar el registro!");
	          }   
	        });
});

$("#eliminar").click(function(){
	$.post(	"/actusuario", 
			{	codigo: $("#id").val(),
                operacion: "eliminar"
			},
			function(data,status){
	          if (status=="success"){ 
	            $("#dvdetalle").html(data);
	          } else { 
	            mensaje("problema al eliminar el registro!");
	          }   
	        });
});

</script>